*{
    text-align: center;
    background-color: black;
    color: white;
}
.add{
    color: cornflowerblue;
    text-decoration: underline;
}
.subtract{
    color: red;
    text-decoration: underline;
}
.multiply{
    color: purple;
    text-decoration: underline;
}
input{
    width: 50px;
    background-color: white;
    color:black;
}
button{
    background-color: white;
    color:black;
}
