*{
    text-align: center;
    
}
@font-face{
    font-family: mario;
    src: url('./assets/CHLORINP.TTF');
    font-weight: bold;
}
.button{
    font-family: mario;
    color: black;
    background-color: #F7001D;
    height: 30px;
    border-style: solid;
    border-color: black;
    text-decoration: underline;
    cursor: pointer;
}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr9uXsrIVxuLoV3L7cRn9iKSy3HoBZ6XXJzL66Uwummz9HS-Me');
    background-repeat: no-repeat;
    background-position: 440px 5px;
    background-attachment: scroll;
    background-size: 200px 200px;
}
.marioTitle{
    font-size: 100px;
    font-family: mario;
    color: #F7001D;
}
.calc{
    width: 1200px;
    height: 1000px;
    background-color: #F7001D;
    margin: auto;
    border-style: solid;
    border-color: black;
  }
  
  .cheep{
    width: 250px;
    height: 240px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 660px;
    top: 30px;
  }
  
  .goomba{
    width: 250px;
    height: 240px;
    border-style: solid;
    border-color: black;
    position: relative;
    right: 400px;
    top: 30px;
  }
  .bomb{
    width: 250px;
    height: 240px;
    border-style: solid;
    border-color: black;
    position: relative;
    right: 260px;
    top: 30px;
  }

  #goomba{
    position: relative;
    right: 270px;
  }
  #bomb{
    position: relative;
    left: 0px;
  }
  #cheep{
    position: relative;
    left: 270px;
  }
  .total{
      border-style: solid;
      border-color: black;
      width: 100px;
      height: 100px;
      margin: auto;
      padding: 4px;
      font-family: mario;
  }
  .coin{
      border-radius: 50%;
      width: 60px;
  }
  #coin1{
    position: relative;
    bottom: 470px;
    right: 190px;
  }
  #coin2{
    position: relative;
    bottom: 470px;
    left: 145px;
  }
  #coin3{
    position: relative;
    bottom: 470px;
    left: 480px;
  }
  #coin4{
    position: relative;
    bottom: 50px;
    right: 25px
  }
  .price{
      font-family: mario;
      font-size: 40px;
  }
  #five{
    position: relative;
    bottom: 538px;
    right: 312px;
  }
  #seven{
    position: relative;
    bottom: 604px;
    left: 87px;
  }
  #eleven{
    position: relative;
    bottom: 671px;
    left: 966px;
    width: 239px;

  }
  .gif{
      position: relative;
      bottom: 275px;
  }
  .footer1{
      text-align: center;
      position: relative;
      bottom: 24px;
      overflow: hidden;
      white-space: nowrap;
      border-style: solid;
      border-color: black;
      width: 84%;
      margin: auto;
      display: flex;
      justify-content: space-around;
  }
