body{
    margin: 0;
}

/* fonts */
@font-face{
    src: url("./assets/LibreBaskerville-Regular.ttf");
    font-family: Libre
}
@font-face{
    src: url("./assets/JuliusSansOne-Regular.ttf");
    font-family: "Julius"
}
@font-face{
    src: url("./assets/verdemoderna.ttf");
    font-family: verde;
}
@font-face{
    src: url('./assets/curlys.ttf');
    font-family: curlys;
}


/* header */
.container-one{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 336px;
    background-image: url('http://www.csszengarden.com/214/gridlines-opaque.png'), url("http://www.csszengarden.com/214/contours@2x.png"), url("http://www.csszengarden.com/214/huntington.jpg" );
    background-repeat: repeat, repeat, no-repeat;
    background-size: none, none, cover;
    background-position: relative,relative, center;
    background-attachment: fixed, fixed, scroll;
    background-position: -8px -110px;
    box-shadow: 0px 0px 50px rgba(255,255,255,.4) inset;
    width: 100%;
    border-top: #2e484c 12px solid;
}
.header-title{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

}
.header-title > div > h1{
    margin: 0;
    margin-left: 24px;
    margin-bottom: 16px;
    font-family: "Julius", sans-serif;
    font-size: 48px;
    font-weight: 100;
}
.header-title > div > h2 {
    margin: 0;
    margin-left: 24px;
    font-style: italic;
    font-family: curlys;
    color: rgba(255, 255, 255, 0.6)
}
.header-buttons{
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    grid-gap: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}
.buttons{
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Julius", sans-serif;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    border: none;
    color: white;
    opacity: .7;
    margin: 0;
}
.buttons:hover{
    background-color: rgba(255, 255, 255, 0.5);

}
.arrow{
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    font-size: 50px;
    color: white;
    opacity: .5;
}
.arrow:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.logo{
    height: 150px;
    align-self: center;
}


/*THE ROAD TO ENLIGHTENMENT */
.container-two{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.container-two-body{
    margin-top: 48px;
    margin-bottom: 40px;
    align-items: center;
}
p{
    line-height: 34px;
    text-align: left;
    padding-left: 144px;
    padding-right: 72px;
    font-family: Libre, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    margin-top: 24px;
    margin-bottom: 8px;
    color: #2e484c;

}
h3{
    font-family: "Julius", sans-serif;
    padding-left: 144px;
    text-align: left;
    color: #2e484c;
    display: block;
    font-size: 28px;
    font-weight: 100;
}
.container-two-side{
    background-color: rgba(138,188,159,0.2);
}

/* Participation */
 .container-three{
     display: grid;
     grid-template-columns: 2fr 1fr;
     height: 80%;
     width: 100%;
     background-color: rgba(138,188,159,0.4);
     background-image: url('http://www.csszengarden.com/214/bamboo.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }
.container-three-side{
        background-color: rgba(138,188,159,.2);
}
.container-three-body{
    align-items: center;
    margin-top: 48px;
    margin-bottom: 40px;
}

/* Requirements */
.container-four{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.container-four-side{
    background-color: rgba(138,188,159,.2);
}
.container-four-body{
    margin-top: 40px;
    margin-bottom: 40px; 
}

.container-five{
    background-image: url('http://www.csszengarden.com/214/gridlines-opaque.png'), url("http://www.csszengarden.com/214/contours@2x.png"), url("http://www.csszengarden.com/214/koi.jpg" );
    background-repeat: repeat, repeat, no-repeat;
    background-size: none, none, cover;
    background-position: relative,relative, center;
    background-attachment: fixed, fixed, scroll;
    background-position: -8px -380px;
    box-shadow: 0px 0px 50px rgba(255,255,255,.4) inset;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container-five-body{
  width: 100%;
  margin: auto;
 
}
.container-five-body > p{
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-family: curlys;
    font-style: italic;

}
.container-five-body > p > a{
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-family: 'Times New Roman';
    font-size: 36px;
}

/* footer */
.container-six{
    background-color: #134347;
    font-size: 35px;
}
.footer{
    display: flex;  
    font-family: verde;
    color: rgba(255, 255, 255, 0.6);
    width: 60%;
    margin: auto;
    justify-content: space-around;
}

@media(max-width: 798px){
    .container-one{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        height: 27vh;
        background-position: center;
        background-size: 300px, 100px, cover;
    }
    .header-buttons{
        grid-column-start: 1;
        grid-row-start: 2;
        height: 10vh;
        display: grid;
        grid-template-rows: none;;
        grid-template-columns: 2fr 8fr 2fr;
        background-color: rgba(255, 255, 255, 0.2);
        justify-content: center; 
    }
    .buttons{
        grid-row-start: 1;
        height: 10vh;
        background-color: transparent;
    }
    .arrow{
        grid-row-start: 1;
        height: 10vh;
        background-color: transparent;
        margin: 0;
    }
    .header-title{
        flex-direction: column;
    }
    .header-title > div > h1{
        font-size: 25px;
        margin-left: 0;
        margin-bottom: 8px;
        text-align: center;
    }
    .header-title >div > h2{
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 8px;
        text-align: center;
    }
    .logo{
        height: 50px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    .container-two{
        grid-template-columns: none;
    }
    .container-two-body{
        margin-top: 48px;
        margin-bottom: 40px;
        align-items: center;
    }
    p{
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
        font-family: Libre, sans-serif;
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 0;
        display: block;
        margin-top: 16px;
        margin-bottom: 6px;
        color: #2e484c;
    }
    h3{
        font-family: "Julius", sans-serif;
        padding-left: 40px;
        text-align: left;
        color: #2e484c;
        display: block;
        font-size: 18px;
        font-weight: 200;
        margin: 0;
        margin-top: 30px;
    }
    .container-two-side{
        display: none;
    }
    .container-three{
        grid-template-columns: none;
    }
    .container-four{
        grid-template-columns: none;
    }
    .container-five{
        height: 32vh;
        background-position: center;
        background-size: 300px, 100px, cover;
    }
    .container-five-body > p{
        font-size: 24px;
        line-height: 35px;
    }
    .container-five-body> p > a {
        font-size: 24px;
    }
    .container-six{
        background-color: #134347;
        font-size: 25px;
        margin: 0;
    }
    .footer{
        display: flex;  
        font-family: verde;
        color: rgba(255, 255, 255, 0.6);
        width: 80%;
        margin: auto;
        justify-content: space-around;
    }
}