body{
    margin: 0
}
.hero{
    height: 798px;
    width: 100%;
    background-image: url("./Assets/0D8049D0-C033-4472-A695-F3333F49B8E0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.hero-title{
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 2;
    color: white;
    font-size: 50px;
}
.nav{
    position: sticky;
    top: 15px;
    margin-bottom: -36px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 30px;
}
.nav2{
    display: flex;
    margin: 0;
    justify-content: center;
}
.Link{
    text-decoration: none;
    color: white;
}
.footer{
    background-color: black;
    height: 798px;
}