body{
    margin: 0;
}
.hero-manager{
    display: flex;

}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80vh;
    width: 50vw;
    background-image: url('https://imgix.bustle.com/uploads/image/2018/3/2/14a56269-9c45-4b7c-89ef-7bba018693f0-fotolia_110356619_subscription_monthly_m.jpg?w=960&h=540&fit=crop&crop=faces&auto=format&q=70&dpr=2');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.hero-title{
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    line-height: .5;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 90%;
    margin: auto;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
.nav-links > a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 100;
    font-family: sans-serif;
    text-decoration: underline;
}
.logo-container > img{
    height: 50px;
}

