.dark-theme{
    background-color: black;
    color: white;
    height: 250px;
    text-align: center;
}

.light-theme{
    background-color: burlywood;
    color: black;
    height: 250px;
    text-align: center;
}