body{
    margin: 0;
}

.landing-background{
    height: 100vh;
    background-image: url("./cssAssets/Piper.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0px;
}
.landing-filter-background{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 0px;
    display: flex;
}


.landing-container-div{ 
    height: 50vh;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    margin: auto;
    width: 55vw;
}
.dividing-line{
    height: 50vh;
    background-color: #ffa8a8;
    width: 4px;
    border-radius: 25px;
    opacity: 50%;
    display: grid;
}

.alternating-form-container {
    margin: auto;
    height: 90%;
    display: grid;
    justify-content: center;
    width: 100%;
}

/* Login Component */

.returning-customers{
    justify-self: right;
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-form{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.login-form > h3{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 100;
}
.login-username-input{
    height: 48px;
    width: 20vw;
    border-radius: 25px;
    border: none;
}

.login-password-input{
    height: 48px;
    width: 20vw;
    border-radius: 25px;
    border: none;
}

.login-button{
    background-color: #DE6262;
    color: whitesmoke;
    height: 48px;
    margin-top: 24px;
    border-radius: 25px;
    border: none;
}

/* Sign up page */

.signup-form{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.signup-form > h3{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 100;
}


/* Landing copy */

.logo{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.description-copy-container{
    padding: 12px;
    margin: none;
}

.description{
    color: #ffffff;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 48px;
}
.login-signup-question{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
.form-switch-button{
    background: none;
    color: #DE6262;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    /* padding-bottom: 4px; */
    border-bottom: solid rgba(255, 255, 255, 0.7) 4px;
}
.form-switch-button:hover{
    color: #ffffff;
    
}