body{
    margin: 0;
}

.landing-background{
    height: 100vh;
    background-image: url("./cssAssets/Piper.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0px;
}
.landing-filter-background{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 0px;
    display: flex;
}


.landing-container-div{ 
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.landing-container-div > :nth-child(2) {
    background-color: white;
    margin: auto;
    height: 100%;
    display: grid;
    justify-content: center;
    width: 100%;
}