*{
    box-sizing: border-box;
    
}

h1{
    text-align: center;
    vertical-align: top;
}

.france{
    height: 500px;
    background-color: red;
    display: inline-block;
    margin-left: 100px;
    width: 400px;

}

.france2{
    background-color: blue;
    width: 400px;
    display: inline-block;
    height: 500px;
    margin-left: 400px;

}
.germany{
    height: 166px;
    background-color: black;
    width: 1200px;
    display: inline-block;
    margin-left: 100px;
    float: left;
}
.germany2{
    height: 166px;
    background-color: red;
    width: 1200px;
    display: inline-block;
    margin-left: 100px;
    float: left;
}
.germany3 {
    height: 166px;
    background-color: yellow;
    width: 1200px;
    display: inline-block;
    margin-left: 100px;
    float: left;
}   
.madagascar{
    height: 500px;
    width: 400px;
    background-color: whitesmoke;
    display: inline-block;
    margin-left: 100px;
    float: left;
}
.madagascar2{
    height: 250px;
    width: 800px;
    background-color: red;
    display: inline-block;
    float: right;
    margin-right: 124px;
}
.madagascar3{
    height: 250px;
    width: 800px;
    background-color: green;
    display: inline-block;
    float: right;
    margin-right: 124px;
}
.switzerland{
    background-color: red;
    height: 300px;
    width: 500px;
    margin-left: 100px;
    display: inline-block;
    vertical-align: top;
    
}
.switzerland2{
    background-color: red;
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 0 -4px;

}
.switzerland3{
    background-color: red;
    height: 300px;
    width: 500px;
    margin-right: 100px;
    display: inline-block;
    vertical-align: top;
}
.switzerland4{
    background-color: red;
    width: 320px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px
}
.switzerland5{
    background-color: red;
    width: 320px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
    margin-left: 506px;
}
.switzerland6{
    background-color: red;
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 -4px;

}
.sweden{
    background-color: royalblue;
    height: 200px;
    width: 375px;
    display: inline-block;
    margin-left: 100px;
    float: left;
}
.sweden2{
    width: 100px;
    height: 200px;
    display: inline-block;
    background-color: yellow;
    vertical-align: top;
}
.sweden3{
    background-color: royalblue;
    height: 200px;
    width: 749px;
    display: inline-block;
    margin-right: 100px;
    float: right;
}
.sweden4{
    width: 1224px;
    display: inline-block;
    height: 100px;
    background-color: yellow;
    vertical-align: top;
    margin-left: 100px;
    
}
.sweden6{
    width: 100px;
    height: 200px;
    display: inline-block;
    background-color: yellow;
}
.gambia{
    width: 1224px;
    height: 200px;
    background-color: red;
    display: inline-block;
    margin-left: 100px;
}
.gambia2{
    width: 1224px;
    height: 100px;
    background-color: royalblue;
    margin-left: 100px;
    margin-top: 20px;
}

.gambia3{
    width: 1224px;
    height: 200px;
    background-color: green;
    display: inline-block;
    margin-left: 100px;
    margin-top: 5px;
}

.tonga{
    height: 500px;
    width: 1100px;
    background-color: red;
    display: inline-block;
    margin-left: 100px;
}

.tonga2{
    width: 408px;
    height: 250px;
    position: relative;
    background-color: white;
    bottom: 504px;
    left: 100px;
}
.tonga3{
    height: 150px;
    width: 60px;
    position: relative;
    background-color: red;
    bottom: 710px;
    left: 275px;
}
.tonga4{
    width: 152px;
    height: 60px;
    background-color: red;
    bottom: 815px;
    left: 230px;
    position: relative;
}

.japan{
        height: 350px;
        width: 350px;
        background-color:red;
        border-radius: 50%;
        display: inline-block;
        margin-top: 80px;
        margin-left: 530px;
        margin-bottom: 80px;
}