@font-face{
    font-family: 'ProximaNova';
    src: url("./Assets/ProximaNova.ttf");
}
*{
    font-family: 'ProximaNova';
}
body{
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    height: 10vh;
    position: sticky;
    top: 0;
    grid-column-start: 2;
    width: 56vw;
    font-family: sans-serif;
    margin: auto;
    align-items: center;
}
.nav > a{
    padding: 8px;
    font-size: 14px;
    color: #E5E5E5; 
    text-decoration: none;
}
.nav > a:hover{
    cursor: pointer;
}
.nav > img{
    cursor: pointer;
}
.hero{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('https://www.tokkoro.com/picsup/2990127-nature-water-beach-aerial-view-sea___mixed-wallpapers.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content{
    grid-column-start: 2;
    grid-row-start: 2;
}
.title{
    font-size: 96px;
    color: #FFFFFF;
    font-family: 'ProximaNova';
    margin-bottom: 8px ;
    margin: auto;  
    font-weight: 400;
}
.sub-title{
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 8px;
    font-weight: 100;
}
.logo{
    height: 60px;
    align-self: center;
    border-radius: 80px;
}
.quote-button{
    background-color: #FFCB26;
    height: 56px;
    width: 301px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
    box-shadow: black 4px 4px 4px;
    cursor: pointer;
    letter-spacing: 4px;
    border: #FFCB26 1px;
}
.quote-button:active{
   box-shadow: black 1px 1px 4px;
}
.quote-button:focus{
    outline: none;
}
.dropDown{
    width: 125px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #21201F;
    line-height: 0;
    text-align: left;
    justify-content: center;
    visibility: hidden;
    
}
.middleDropDown:hover{
    background-color: #32302F;
}
.middleDropDown > h4{
    padding-left: 8px;
    color: white;
    text-decoration: none;
}
.middleDropDown{
    text-decoration: none;
}
.color{
    background-color: #FFCB26;
    height: 4px;
    
}
.service:hover .dropDown{
    visibility: visible;
}



@media(max-width: 800px){
    .nav{
        width: 100%;
        align-items: center;
    }
    .nav > a{
        font-size: 12px;
        padding-left: 0;
    }
    .title{
        font-size: 64px;
        text-align: center;
    }
    .sub-title{
        font-size: 16px;
        text-align: center;
    }
    .color{
        background-color: #FFCB26;
        height: 4px;
        justify-self: start;
    }
    .dropDown{
        width: 100px;
    }
}