*{
    margin: auto;
}
h1{
    text-align: center;
}
label{
    text-align: left;
}
.box{
    width: 500px;
    height: 500px;
    background-color: wheat;
    border: 5px black;
    border-style: dotted;
}

.plane{
    position: relative;
    display: inline-block
}
#age{
    width: 30px;
}