html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
section{
    height: 100vh;
}
.jeremy{
    color: yellow;
}
.more{
    margin: 0;
    height: 10vh;
    background-color: black;
    text-align: center;
    justify-items: baseline;
    color: white;
}
.more > h4{
    width: 20px;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    font-size: 30px;
    opacity: 0;
    animation: fadedown 1s linear 2s forwards,
    bounce 2.5s linear 10s infinite;
    overflow: hidden;
    transform: translateY(50%);
    padding: 0px
}
.hero{
   height: 70vh;
   background: black;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   color: white;
   /* background-image: url('http://giphygifs.s3.amazonaws.com/media/lSzQjkthGS1gc/giphy.gif'); */
   /* background-repeat: repeat-x; */
}
.hero-title{
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    font-family: sans-serif;
}
.title-space{
     padding: 16px;
}
.nav{
    height: 6vh;
    font-family: sans-serif;
    color: black;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
}
.Link{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 25px;
}
.Link:hover{
    text-decoration: underline;
}

/* Project */
.project{
    height: 100%;
    margin-bottom: 16px;
}
.project-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.project-container > a{
    padding: 20px;
}
.title{
    margin: auto;
    width: 80%;
    font-size: 160px;
    position: relative;
    top: 50px;
    font-family: sans-serif;
    font-weight: 800;
    z-index: 2;
}
.project1{
    background-color: #1f4954;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    z-index: 1;
    justify-content: center;
    height: 380pt;
    font-family: sans-serif;
}
.dev{
    opacity: 0;
    animation: fadedown 1s linear 2s forwards ;
}
.turtles{
    color: green
}
.turtles:hover{
    text-decoration: underline;
    cursor: pointer;
}
.description-long-box{
    width: 50%;
    /* padding-bottom: 50px; */
    padding-left: 40px;
    padding-right: 40px;
    color: #FBFEF9;
    text-align: center;
}
.project2{
    display: flex;
    justify-content: center;
    background-color: #455561;
    height: 380pt;
    font-family: sans-serif;
}
.description{
    color: #FBFEF9;
    text-align: center;
}

.project2:hover .rpg-img{
    display: unset;
}

.project-name{
    font-size: 55px;
    margin: none;
    color: #FBFEF9;
}
.project-alignment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project3{
    background-color:  #7C90A0;
    display: flex;
    justify-content: center;
    height: 380pt;
    font-family: sans-serif;

}
.project4{
    background-color: #437F97;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    height: 380pt;
    font-family: sans-serif;
}
.project-button{
    background-color: transparent;
    width: 30%;
    color: #FBFEF9;
    font-family: sans-serif;
    font-size: 16px;
    border: 2px solid white;
}

.project-button-small:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.project-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.middle-bar{
    margin: none;
    height: 4px;
    width: 30%;
    margin: none;
    background-color: #FBFEF9;
}
.project1:hover .middle-bar{
    animation: middlebar 200ms linear 1 forwards;
}
.project2:hover .middle-bar{
    animation: middlebar 200ms linear 1 forwards;
}
.project3:hover .middle-bar{
    animation: middlebar 200ms linear 1 forwards;
}
.project4:hover .middle-bar{
    animation: middlebar 200ms linear 1 forwards;

}
@keyframes middlebar{
    0%{

    }
    100%{
        transform: scale(1.1);
        background-color: red;
    }
}
a{
    text-decoration: none;
    color: black;
    margin: 0;
}


/* About */
.about{
    height: 100%;
    margin-bottom: 16px;
}
.about-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}
.about-container> div{
    padding: 20px;
}
.bio{
    background: #1f4954;
    color: whitesmoke;
    
}
.bio >h1{
    font-size: 45px;
}
.bio> span  > h1 > a{
    color: white
}
.bio > span > h2{
    color: #7C90A0;
}
.bio > span >h2 > a {
    color: white;
    font-size: 20px;
}
.bio > span >h2 > a:hover{
    text-decoration: underline;

} 
.bio> span  > h1 > a:hover{
    text-decoration: underline;
}
.profile-picture{
    background-image: url('./Assets/Jeremysitting.JPEG');
    background-size: cover;
    background-position: center;
}

/* Resume */
.resume{
    height: 100%;
    margin: auto;
    margin-bottom: 16px;
    width: 100%;
}
.resume-container{
    height: 100vh;
    width: 80%;
    margin: auto;
    background-image: url('./Assets/resume.png');
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;

}

/* Footer */
.footer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: grayscale(1);
    background-color: whitesmoke;
    height: 16vh;
}
.footer > a > img{
    height: 60px;
    margin: 0;
}

/* Menu */
.menu{
    position: absolute;
    display: flex;
    width: 80%;
    align-items: center;
    height: 10vh;
    z-index: 4;
}
.menu > a > button{
    font-size: 40px;
    color: white;
    background-color: black;
    border:none;
}
.menu > a {
    margin-left: 5%;
}
.menu > a >button:hover{
    cursor: pointer;
}

/* animations */
@keyframes opacity{
    0%{
        opacity: 0
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadedown{
    0%{
        opacity: 0;
        transform: translateY(-8px)
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}
@keyframes bounce{
    0%{
        transform: translateY(0px)
    }
    10%{
        transform: translateY(4px)
    }
    30%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px)
    }
}
@keyframes animate{
    0%{
        opacity:0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity:1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}


/* media querries */
@media(max-width: 850px){
    
    .nav{
        width: 100%;
    }
    .resume-container{
        background-size: 100%; 
    }
    .resume{
        width: 100%;
        margin: 0;
    }
    .title{
        margin: 0;
        width: 100%;
        font-size: 500%;
        top: 24px;
    }
    .project-container{
        grid-template-columns: 1fr;
        width: 100%
    }
    .project1{
        grid-column-end: 2;
        height: 300pt;
    }
    .project2{
        height: 300pt;
    }
    .project3{
        height: 300pt;
    }
    .project4{
        grid-column-end: 2;
        height: 300pt;
    }
    .about-container{
        grid-template-columns: 1fr;
        width: 100%
    }
    .profile-picture{
        height: 280px;
    }
    .description-long-box{
        width: 80%;
    }
    .project-name{
        font-size: 45px;
    }
    .project-button{
        width: 50%;
    }
}