body{
    margin: 0px;
}
section{
    height: 100vh;
}
video{
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 90vh;
}
.more{
    margin: 0;
    height: 10vh;
    background-color: black;
    text-align: center;
    justify-items: baseline;
    color: white;
}
.more > h4{
    width: 20px;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    font-size: 30px;
    opacity: 0;
    animation: fadedown 1s linear 6s forwards,
    bounce 2.5s linear 10s infinite;
    overflow: hidden;
    transform: translateY(50%);
    padding: 0px
}
.hero{
   height: 90vh;
   background: black;
   display: grid;   
   grid-template-rows: 1fr 1fr 1fr;
}
.dev{
    margin: 0;
    padding: 0;
    font-size: 40%;
    animation: opacity 6s linear 1;
}
.title-space{
     padding: 16px;
}
.hero-h1{
    grid-row-start: 2;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.19em;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    z-index: 1;
}
.hero-h1>span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

.nav{
    height: 6vh;
    color: black;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2)
}
.Link{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 25px;
}
.Link:hover{
    animation: links 1s linear forwards;
}

/* Project */
.project{
    height: 100%;
    margin-bottom: 16px;
}
.project-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800pt;
}
.project-container > div{
    padding: 20px;
}
.title{
    margin: auto;
    width: 80%;
    font-size: 160px;
    position: relative;
    top: 50px;
    font-family: sans-serif;
    font-weight: 800;
}
.project1{
    background-color: red;
}
.project2{
    color: white;
    background-image: url('./Assets/RPG-screen-shot.png');
    background-size: cover;
}

/* About */
.about{
    height: 100%;
    margin-bottom: 16px;
}
.about-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}
.about-container> div{
    padding: 20px;
}
.bio{
    background: #1f4954;
    color: whitesmoke
}
.profile-picture{
    background-image: url('./Assets/Jeremysitting.JPEG');
    background-size: cover;
    background-position: center;
}

/* Footer */
.footer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: grayscale(1);
    background-color: whitesmoke;
    height: 10vh;
}
.footer > a > img{
    height: 60px;
    margin: 0;
}

/* Menu */
.menu{
    position: absolute;
    display: flex;
    width: 80%;
    align-items: center;
    height: 10vh;
    z-index: 4;
}
.menu > a > button{
    font-size: 40px;
    color: white;
    background-color: black;
    border:none;
}
.menu > a {
    margin-left: 5%;
}
.menu > a >button:hover{
    cursor: pointer;
}

/* animations */
@keyframes opacity{
    0%{
        opacity: 0
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadedown{
    0%{
        opacity: 0;
        transform: translateY(-8px)
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}
@keyframes bounce{
    0%{
        transform: translateY(0px)
    }
    10%{
        transform: translateY(4px)
    }
    30%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px)
    }
}
@keyframes animate{
    0%{
        opacity:0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity:1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
.hero-h1>span:nth-child(1){
    animation-delay: 1s;
}
.hero-h1>span:nth-child(2){
    animation-delay: 1.25s;
}
.hero-h1>span:nth-child(3){
    animation-delay: 1.5s;
}
.hero-h1>span:nth-child(4){
    animation-delay: 1.75s;
}
.hero-h1>span:nth-child(5){
    animation-delay: 2s;
}
.hero-h1>span:nth-child(6){
    animation-delay: 2.25s;
}
.hero-h1>span:nth-child(7){
    animation-delay: 2.75s;
}
.hero-h1>span:nth-child(8){
    animation-delay: 3s;
}
.hero-h1>span:nth-child(9){
    animation-delay: 3.2s;
}
.hero-h1>span:nth-child(10){
    animation-delay: 3.4s;
}
.hero-h1>span:nth-child(11){
    animation-delay: 3.6s;
}
.hero-h1>span:nth-child(12){
    animation-delay: 3.8s;
}

/* media querries */
@media(max-width: 850px){
    .hero-h1 > span{
        font-size: 35px;
        letter-spacing: 0.2em
    }
    .hero-h1>p{
        font-size: 25px;
        letter-spacing: 0.4em
    }
    .title-space{
        padding: 8px;
    }
    .hero-h1>span:nth-child(8){
        animation-delay: 2.8s;
    }
    .hero-h1>span:nth-child(9){
        animation-delay: 2.9s;
    }
    .hero-h1>span:nth-child(10){
        animation-delay: 3s;
    }
    .hero-h1>span:nth-child(11){
        animation-delay: 3.2s;
    }
    .hero-h1>span:nth-child(12){
        animation-delay: 3.4s;
    }
    .nav{
        width: 100%;
    }
    .title{
        margin: 0;
        width: 100%;
        font-size: 500%;
        top: 24px;
    }
    .project-container{
        grid-template-columns: 1fr;
        width: 100%
    }
    .project1{
        grid-column-end: 2;
    }
    .about-container{
        grid-template-columns: 1fr;
        width: 100%
    }
    .profile-picture{
        height: 280px;
    }
}