@font-face{
    font-family: news;
    src: url('/assets/Chomsky.otf')
}
.textt{
    text-align: left;
    display: inline-block;
    text-align: justify;
    width: 30%;
    vertical-align: top;
}
.top{
    font-family: news;
    text-align: center;
    font-size:  300%;
    margin: 0 ;
    text-decoration: underline overline;
    vertical-align: top;
}
.newsWord .riotText{
    text-decoration: underline;
    width: 30%;
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: inline-block;
}

.overline{
    text-decoration: overline;
}

.newsWord span{
    display: inline-block;
    width: 30%;
    text-align: justify;
    margin: 0px 16px;
    vertical-align: top;
}

.newsWord .riot{
    width: 30%;
    -webkit-filter: grayscale(100%);
    margin: 0px 16px 16px;
    
}
