form{
    height: 360px;
    border: 1px black solid;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    align-items: center;
}

form > input{
    height: 32px;
    margin: 8px 20px;
}

form>button{
    text-align: center;
    grid-column: 1 /-1;
    margin: auto;
}