body{
    margin: 0;
}

.headPic > img{
    width: 100%
}
.home-card{
    border-radius: 12pt;
}

.headPic{
    background: linear-gradient(-45deg, yellow, blue, green, red);
	background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: grid;
    grid-template-rows:  8fr 1fr 12fr;
    justify-content: center;
    margin-bottom: 0;
    height: 100vh;
}
.search-container{
    margin-bottom: 24px;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
}
.search-container>form{
    grid-column-start: 2;
    grid-column-end: 3;
}
.search-bar{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.button-search{
    border-left: none;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.button-search > img:hover{
    animation: circle 2s infinite;
}
.button-search > img{
    height: 20px;
    padding: 5px
    
}

.icon{
    height: 24px;
    width: 28px;
}
.home{
    /* height: 738px; */
    background-color: black;
   display: grid;
   grid-template-rows: 1fr;
}
.home-card{
    height: 360px;
    align-self: center;
    grid-column-start: 2;
}
.about{
    background-color: black;
    color: white;
    height: 390px;
    display:grid;
    grid-template-columns: 1fr 1fr 8fr 1fr; 
    grid-gap: 16px;

}
.cards{
    width: 300px;
    height: 400px;
   
}
.cards:hover{
    transition-duration: 400ms;
    box-shadow: 8px 8px 12px black;
    transform: translate(-4px)
}
.cards1{
    width: 300px;
    height: 400px;
   
}
.search-container-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
    grid-gap: 8px;
}
.card-container{
    margin-top: 48px;
    display: grid;
    grid-template-rows: 1fr;
}
form{
    display: grid;
    grid-template-columns: 12fr 1fr;
}
.buttonz > img{
    height: 30px;
    padding: 5px;
    position: relative;
}
.buttonz >img:hover{
    animation: circle 2s infinite;
}
.buttonz:hover{
    cursor: pointer;
}

.buttonz{
    border: none;
    align-self: center;
    background-color: white;
}
form>input{
    border: none;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes circle{
    0% {
      
    }
    25% {
        transform: translateY(-4px)
    }
    50% {
        transform: translateX(8px)
    }
    75%{
       transform: translateY(4px);
       transform: scale(1.5)
    }
    100%{
        
    }
}
.pokeLogo{
    border-radius: 25pt;
    height: 50px;
    
}

.nav{
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.Link{
    text-decoration: none;
    color: white;
}

.cards{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.card-header{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-around
}
.cardz{
    border: 1px solid black;
}
.save-button{
    background-color: black;
    color: white;
    border: none;
    height: 25px;
    width: 45%;
    font-size: 15px;
}

@media(max-width: 738px){
    .nav{
        font-size: 25px;
        align-items: center;
    }
    .pokeLogo{
        height: 30px;
    }
    .headPic{
        grid-template-rows:  8fr 2fr 29fr;
    }
    .buttonz >img{
        padding: 8px;
    }
    .search-container-cards {
        grid-template-columns: 1fr 1fr;
    }
    .cards{
        height: 300px;
        width: 200px;
    }
    .cards1{
        height: 300px;
        width: 200px;
    }
    .search-bar{
        border-right: 1px solid black;
    }
    .button-search{
        border-left: 1px solid black;
    }
}