body{
    margin: 370px;
    margin-top: 0px;
}

h1, h2 {
    font-family: georgia;
    text-align: center;
}
h1 {
    color: darkgreen;
}
p{
    line-height: 25px;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    float: left;
}
.suggest{
    text-transform: uppercase;
}